/*----------main page styling----------*/

body {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: black;
    max-width: 1080px;
    margin:auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*----------page logo----------*/

.header {
    position: relative;
    text-align: center;
}

#logo {
    height: 460px;
    height: 390px;
}

.text-logo {
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 10%;
}

.red-glow {
    text-shadow: 0 0 3px #ff0000;
}

.active {
    border-bottom: 3px solid black;
}

.active:hover {
    border-bottom: 3px solid whitesmoke;
}

/*----------navigation----------*/

nav {
    text-align: center;
    
}

nav a {
    color: black;
    font-size: 46px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

nav a:hover {
    color: whitesmoke;
}

.space {
    height:50px;
}

/*----------homepage and gallery use same styling----------*/

.picture-align {
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding-top: 20px;
    text-align: right;
}

.picture-align img {
    height:auto;
    width: 50%;
}

.text-align {
    font-size: 24px;
    text-align: left;
}

.description {
    font-size: 20px;
    text-align: justify;
    padding: 25px;
}

/*----------footer----------*/

footer {
    text-align: center;
    font-size: 24px;
    
}

footer p {
    margin:0px;
}

footer a {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 3px #ff0000;
    font-size: 30px;
    padding: 10px;;
}

hr {
    border: 1px solid black;
}

/*----------feedback----------*/

.about {
    text-align: center;
    font-size: 24px;
}

#name {
    border: 2px solid black;
    border-radius: 15px;
    height:35px;
    width:280px;
    background-color: transparent;
    padding: 10px;
}

#email {
    border: 2px solid black;
    border-radius: 15px;
    height:35px;
    width:280px;
    background-color: transparent;
    padding: 10px;
}

.about textarea {
    border: 2px solid black;
    border-radius: 15px;
    height:90px;
    width: 280px;
    background-color: transparent;
    padding: 10px;
}

.about input::placeholder {
    color:black;
    font-size: 24px;
}

.about textarea::placeholder {
    color: black;
    font-size: 24px;
}

#submit {
    font-size: 36px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: black;
    color:whitesmoke;
}

@media  screen and (max-width: 700px) {
    #logo {
        height: 40%;
        width:40%;
    }
    .text-logo {
        font-size: 42px;
    }
    nav a {
        font-size: 36px;
    }
}

@media  screen and (max-width: 500px) {
    #logo {
        height: 40%;
        width:40%;
    }
    .text-logo {
        font-size: 36px;
    }
    nav a {
        font-size: 26px;
    }
}

@media  screen and (max-width: 400px) {
    #logo {
        height: 40%;
        width:40%;
    }
    .text-logo {
        font-size: 24px;
    }
    nav a {
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 700px) {
    .text-align {
        font-size: 18px;
    }
    .description {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .text-align {
        font-size: 16px;
    }
    .description {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .text-align {
        font-size: 14px;
    }
    .description {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    footer a {
        font-size: 20px;
    }
}