@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bad+Script&family=Covered+By+Your+Grace&family=Lato:wght@300&family=Oswald:wght@200&display=swap');

/*
font-family: 'Amatic SC', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
*/

body {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: black;
    font-family: 'Bad Script', cursive;
    font-weight: 700;
    max-width: 1080px;
    margin:auto;
}

.header {
    position: relative;
    text-align: center;
}

#logo {
    width: 30%;
}

.text-logo {
    font-family: 'Amatic SC', cursive;
    font-size: 10vh;
    position: absolute;
    top: 20%;
    left: 10%;
}

.red-glow {
    text-shadow: 0 0 3px #ff0000;
}

.red-under {
    border-bottom: 3px solid black;
}

.red-under:hover {
    border-bottom: 3px solid whitesmoke;
}

nav {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    
}

nav a {
    color: black;
    font-size: 6vh;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

nav a:hover {
    color: whitesmoke;
}

@media  screen and (max-width: 700px) {
    .text-logo {
        font-size: 5vh;
    }
    nav a {
        font-size: 4vh;
    }
}

.space {
    height:50px;
}

.content1-pic {
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding-top: 20px;
}
.content1-img {
    text-align: center;
}

.content1-img img {
    height:150px;
    max-width:100%
}

.content1-text {
    font-size: 32px;
    text-align: center;
}

.content1-p {
    font-size: 24px;
    text-align: justify;
    padding: 25px;
}

@media screen and (max-width: 700px) {
    .content1-text {
        font-size: 18px;
    }
    .content1-p {
        font-size: 20px;
    }
}

footer {
    text-align: center;
    font-size: 24px;
}

hr {
    border: 1px solid black;
}

@media screen and (max-width: 700px) {
    footer {
        font-size: 20px;
    }
}